<section ng-if= "!$ad.empty()">
  <div ng-if="$ad.albom">
    <table id="movies-table" ng-mouseleave="$ad.row=-1">
      <tr ng-mouseover="$ad.row=-1" >
        <th>#</th>
        <th ng-repeat="col in $ad.columns" ng-click="$ad.sort(col)" class="sortable"
            ng-class="$ad.orderBy.indexOf(col) > -1 ? $ad.sortClass : 'sort-none'">{{ col | uppercase }}</th>
        <th>CONTROL</th>    
      </tr>
      <h3> Albom: <strong> {{ $ad.albom.title }} </strong> </h3>
      <tr ng-repeat="movie in $ad.albom.list | orderBy: $ad.orderBy"
              ng-class-odd="'row-shadow'" ng-mouseover="$ad.row=$index" ng-click="$ad.selectMovie(movie)"
              ng-class="{'hover-row': $ad.row===$index, 'selected-row': $ad.selectedAlbom === movie}">
          <td>{{ $index+1 }}</td>
          <td class="text"><span>{{ movie.title }}</span></td>
          <td class="text"><span>{{ movie.about }}</span></td>
          <td>
            <movie-rating value="movie.rating">
              <span class="glyphicon glyphicon-star"></span>
            </movie-rating>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-default" ng-click="$ad.playMovie($event, movie)">
                  <span class="glyphicon glyphicon-play"></span>
              </button>
              <button class="btn btn-default" ng-click="$ad.editMovie($event, movie)">
                  <span class="glyphicon glyphicon-edit"></span>
              </button>

              <button class="btn btn-default" ng-click="$ad.deleteMovie(albom)">
                  <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
        </td> 
      </tr>
    </table>
    
    <div>
      <movie-list-edit content="$ad.editedMovie" on-close="$ad.close()" on-save="$ad.save()"></movie-list-edit>
    </div>

  </div>
</section>